<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korea.ex_0722.dao.UserDAO">

	<select id="findAll" resultType="com.korea.ex_0722.vo.UserVO">
		SELECT id,name,email FROM users
	</select>
	
	<select id="findById" resultType="UserVO">
		SELECT id,name,email FROM user WHERE id=#{id}
	</select>
	
	<insert id="insert">
		INSERT INTO users(name,email) VALUES(#{name},#{email})
	</insert>
	
</mapper>